#### 1. Dataframe basics

#### 1.1. Import pandas and reffered the package as pd + Load "telecom_churn.csv" and assign in to the variable df <span style= color:#0033cc>(3 points)</span>

In [3]:
pip install numpy --user

Requirement already satisfied: numpy in c:\python310\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.

  Using cached pandas-2.2.1-cp310-cp310-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\python310\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.1-cp310-cp310-win_amd64.whl (11.6 MB)
Installing collected packages: pandas
Successfully installed pandas-2.2.1

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import pandas as pd

#### 1.2 Return the column labels/names <span style= color:#0033cc>(2 points)</span>

In [15]:
df = pd.read_csv("./telecom_churn.csv")
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

#### 1.3 Print the df shape <span style= color:#0033cc>(3 points)</span>

In [9]:
df.shape

(3333, 20)

#### 2. What is the total day calls given by state and area code?

In [23]:
t = df[['State','Area code', 'Total day calls']]
t.head()

  State  Area code  Total day calls
0    KS        415              110
1    OH        415              123
2    NJ        415              114
3    OH        408               71
4    OK        415              113

#### 2.1 Group the df by state and area code (assign it to grouped variable). <span style= color:#0033cc>(5 points)</span>

In [30]:
gb = df.groupby('State')['Area code']
gb.head()

0      415
1      415
2      415
3      408
4      415
      ...
632    408
640    415
664    408
710    510
725    510
Name: Area code, Length: 255, dtype: int64

#### 2.2 Use agg with the desired function sum to get the final answer (assign it to telecom_agg variable).<span style= color:#0033cc>(5 points)</span>

In [22]:
telecom_agg = df.agg.sum

AttributeError: 'function' object has no attribute 'sum'

#### 2.3 Reset the group by index <span style= color:#0033cc>(3 points)</span>

In [27]:
d = df.reset_index(inplace=False)
d.head()

,level_0,index,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,...,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,0,0,KS,128,415,No,Yes,25,265.1,110,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,1,1,OH,107,415,No,Yes,26,161.6,123,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,2,2,NJ,137,415,No,No,0,243.4,114,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,3,3,OH,84,408,Yes,No,0,299.4,71,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,4,4,OK,75,415,Yes,No,0,166.7,113,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

#### 2.4 Use head function to review the first 10 telecom_agg rows <span style= color:#0033cc>(3 points)</span>

In [29]:
df.head(10)

,index,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,...,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,0,KS,128,415,No,Yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,1,OH,107,415,No,Yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,2,NJ,137,415,No,No,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,3,OH,84,408,Yes,No,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,4,OK,75,415,Yes,No,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
5,5,AL,118,510,Yes,No,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,0
6,6,MA,121,510,No,Yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,0
7,7,MO,147,415,Yes,No,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,0
8,8,LA,117,408,No,No,0,184.5,97,31.37,...,80,29.89,215.8,90,9.71,8.7,4,2.35,1,0
9,9,WV,141,415,Yes,Yes,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,0

#### 3. Users Churn rate

#### 3.1 Change "Churn" column type to an integer: <span style= color:#0033cc>(3 points)</span>

In [23]:
df.Churn = df.Churn.astype('int')
t= df[['Churn']]
t.head()

   Churn
0      0
1      0
2      0
3      0
4      0

#### 3.2 what is the users "churn rate" in our dataframe? <span style= color:#0033cc>(5 points)</span>
Hint: the churn rate formula can be calculated as the "number of churned" divided by the "total number of customers".

In [32]:
c = churn_rate = df['Churn'].div(df['Customer service calls'].sum())
c

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3328    0.0
3329    0.0
3330    0.0
3331    0.0
3332    0.0
Name: Churn, Length: 3333, dtype: float64

#### 3.3  How the charn rate can affect on the company? <span style= color:#0033cc>(3 points)</span>

tooo bad!

#### 3.4 How much time (on average) do churned users spend on the phone during daytime? <span style= color:#0033cc>(5 points)</span>
Hint: filter churn column when the value of churn equal to 1

In [38]:
pip install numpy

Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in c:\python310\lib\site-packages (1.26.4)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [39]:
import numpy as np

In [42]:
sp = np.where(df['Churn']==1)
sp

(array([  10,   15,   21,   33,   41,   48,   54,   57,   69,   76,   77,
          84,   86,   89,   91,   98,   99,  115,  117,  126,  127,  144,
         156,  181,  197,  198,  214,  218,  230,  235,  241,  244,  250,
         258,  277,  289,  293,  301,  302,  306,  307,  310,  319,  331,
         332,  340,  349,  354,  360,  365,  372,  378,  394,  397,  399,
         407,  415,  416,  430,  437,  454,  455,  465,  466,  473,  491,
         492,  498,  502,  507,  509,  514,  521,  542,  546,  547,  550,
         552,  558,  569,  574,  580,  584,  588,  601,  605,  613,  619,
         626,  629,  649,  655,  660,  679,  715,  721,  730,  736,  737,
         766,  771,  773,  787,  792,  797,  815,  830,  832,  846,  851,
         859,  871,  892,  894,  901,  904,  905,  911,  914,  933,  944,
         946,  966,  968,  975,  977,  978,  985,  987, 1000, 1018, 1027,
        1030, 1038, 1077, 1078, 1102, 1105, 1115, 1121, 1122, 1133, 1136,
        1142, 1150, 1155, 1182, 1192, 1193, 1204, 1231, 1232, 1240, 1254,
        1263, 1269, 1273, 1276, 1278, 1280, 1284, 1299, 1302, 1306, 1310,
        1322, 1325, 1327, 1334, 1337, 1339, 1344, 1345, 1346, 1350, 1359,
        1364, 1373, 1376, 1392, 1405, 1407, 1420, 1435, 1442, 1454, 1467,
        1472, 1484, 1493, 1516, 1528, 1530, 1531, 1532, 1533, 1534, 1537,
        1538, 1551, 1585, 1593, 1601, 1614, 1619, 1635, 1638, 1646, 1651,
        1653, 1662, 1674, 1679, 1691, 1692, 1694, 1701, 1702, 1704, 1707,
        1713, 1718, 1731, 1736, 1739, 1746, 1750, 1752, 1754, 1764, 1765,
        1768, 1777, 1784, 1794, 1804, 1837, 1842, 1844, 1845, 1849, 1850,
        1851, 1857, 1861, 1862, 1865, 1866, 1869, 1878, 1880, 1881, 1887,
        1889, 1892, 1893, 1898, 1903, 1904, 1912, 1919, 1933, 1934, 1935,
        1939, 1950, 1954, 1965, 1974, 1977, 1978, 1984, 2001, 2028, 2029,
        2033, 2038, 2059, 2069, 2076, 2099, 2103, 2106, 2107, 2112, 2113,
        2115, 2118, 2119, 2139, 2142, 2147, 2150, 2155, 2158, 2160, 2164,
        2173, 2186, 2187, 2203, 2210, 2213, 2215, 2218, 2237, 2238, 2258,
        2267, 2283, 2290, 2324, 2325, 2327, 2335, 2343, 2347, 2354, 2356,
        2357, 2369, 2376, 2377, 2380, 2386, 2387, 2388, 2389, 2397, 2401,
        2402, 2405, 2407, 2412, 2415, 2419, 2420, 2421, 2428, 2432, 2437,
        2451, 2468, 2472, 2479, 2489, 2493, 2515, 2526, 2533, 2535, 2536,
        2539, 2542, 2567, 2572, 2573, 2575, 2581, 2591, 2594, 2595, 2599,
        2602, 2606, 2614, 2619, 2624, 2629, 2645, 2647, 2660, 2662, 2664,
        2666, 2672, 2673, 2677, 2681, 2687, 2694, 2696, 2700, 2708, 2710,
        2724, 2731, 2732, 2735, 2745, 2747, 2760, 2772, 2773, 2774, 2784,
        2785, 2786, 2794, 2800, 2816, 2819, 2824, 2827, 2828, 2839, 2865,
        2868, 2874, 2882, 2884, 2889, 2900, 2901, 2908, 2924, 2925, 2926,
        2934, 2936, 2942, 2947, 2950, 2952, 2958, 2960, 2961, 2964, 2968,
        2971, 2972, 2979, 2980, 2987, 2989, 2994, 3002, 3019, 3023, 3035,
        3045, 3050, 3064, 3070, 3072, 3079, 3093, 3112, 3113, 3125, 3127,
        3132, 3144, 3148, 3151, 3157, 3166, 3168, 3169, 3189, 3190, 3191,
        3205, 3209, 3224, 3226, 3238, 3241, 3243, 3246, 3247, 3255, 3265,
        3268, 3272, 3280, 3287, 3291, 3301, 3304, 3320, 3322, 3323],
       dtype=int64),)

#### 3.5 What is the maximum length of international calls among loyal users who do not have an international plan? ('International plan' == 'No') <span style= color:#0033cc>(5 points)</span>
Hint: 2 filters conditions,churn equal to 0 and international plan equal to no

In [45]:
import numpy as np
ml = df.where(['International plan'] == 'No')
ml.head()

ValueError: Array conditional must be same shape as self

#### 4. Select top 3 international plan subscribers and non subscribers with the most intl calls

#### 4.1. Build a function top which attributes df, n (for the top n) and column. In this function use sort_values to sort the values in the column specified. <span style= color:#0033cc>(10 points)</span>
Note: Do not apply the function on the whole data frame (e.i. top(df, n=3)) as the output will be the top 3 regardless of subscribers and non-subscribers.

#### 4.2. Group the df dataframe by 'International plan' and use apply(top) to apply this function. <span style= color:#0033cc>(5 points)</span>

#### 5. pd.crosstab

#### 5.1 how the observations in our sample are normalized (divide each value by the sum of the values) in the context of two variables - Churn and Voice mail plan. To do so, build a contingency table using the crosstab method. <span style= color:#0033cc>(6 points)</span>
Hint: To normalize using all values, simply set normalize=True

#### 5.2 What is the conclustion of most of users regarding voice mail usage? <span style= color:#0033cc>(4 points)</span>

#### 6. Columns calculations

#### 6.1 Add a column name 'total_charge', and get the total charge by sum all the charge columns <span style= color:#0033cc>(7 points)</span>

In [24]:
df.describe()

,index,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
count,3333.00000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,1666.00000,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856,0.144914
std,962.29855,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491,0.352067
min,0.00000,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,833.00000,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000,0.000000
50%,1666.00000,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000,0.000000
75%,2499.00000,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000,0.000000
max,3332.00000,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,1.000000

####  6.2 Add a column name 'Day_charge_pct', and get day charge precentage of total charge by dividing the column 'Total day charge' by the column 'total_charge'. <span style= color:#0033cc>(7 points)</span>

#### 7. Day charge percentage and state visualization

#### 7.1 Import matplotlib.pyplot and referred the package as plt <span style= color:#0033cc>(2 points)</span>

#### 7.2 create new string list with the name 'my_color' that contains the following colors names: red,green,orange,blue,yellow <span style= color:#0033cc>(4 points)</span>

#### 7.3 Bar chart plot <span style= color:#0033cc>(10 points)</span>

1.Select first 5 rows of the dataframe (use df.iloc[])

2.Use <span style= color:blue>df.plot</span> function with kind='bar' and x='State' and y='Day_charge_pct' and color = my_colors to make a simple bar chart plot (of the day chart %).

3.Use <span style= color:blue>plt.xlabel("State Code")</span> and <span style= color:blue>plt.ylabel("Day Charge %")</span> to label the corresponding axes